@import url("https://fonts.googleapis.com/css2?family=Cuprum&display=swap");

* {
  margin: 0;
  paddin: 0;
  box-sizing: border-box;
  font-family: "Cuprum", sans-serif;
}

.mainMenu {
  width: 100%;
  line-height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  color: #cecece;
  /*box-shadow: 0px 0px 0.1px grey, 0 0 35px grey, 0 0 6px grey;*/
}

.mainMenu a {
  color: #092532;
  font-size: 1.5rem;
}

a.menu_link {
  color: #4834d4;
  font-size: 1.9rem;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 84vh;
  font-size: 3rem;
}

.left {
  max-width: 50%;
}

.right {
  max-width: 50%;
}

img {
  width: 130%;
  height: 80%;
}

.title {
  justify-content: center;
  align-items: center;
  color: grey;
  /*text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;*/
}

button {
  margin-top: 20px;
  background-color: #38ada9;
  border: none;
  border-radius: 3px;
  color: white;
  padding: 14px 50px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
}

.text {
  font-size: 1rem;
  color: grey;
}

footer {
  font-size: 0.8rem;
  text-align: center;
  margin-top: 10px;
  padding: 10px;
  color: grey;
}
